/* Set the size of the div element that contains the map */
#map
{
  /* The height is 400 pixels */
  height: 400px;

  /* The width is the width of the web page */
  width: 1200px;
  margin : auto;
}

.loading_place
{
    position: center;
    display:flex;
    justify-content:center;
    align-items : center;
}

.lettre
{
    color: #354256;
    font-size: 40px;
    letter-spacing: 15px;
    margin-bottom : 150px;
    animation: flash 1.2s linear infinite;
}
.papybot_response
{
    text-align : center;
    font-size : 30px;
}
@keyframes flash
{

    0%
    {
        color:  #ccedfb;
    }
    90%
    {
        color: black;
    }
    100%
    {
        color:  #ccedfb;
    }
}

.lettre:nth-child(1)
{
    animation-delay: 0.1s;
}

.lettre:nth-child(2)
{
    animation-delay: 0.2s;
}

.lettre:nth-child(3)
{
    animation-delay: 0.3s;
}

.lettre:nth-child(4)
{
    animation-delay: 0.4s;
}

.lettre:nth-child(5)
{
    animation-delay: 0.5s;
}

.lettre:nth-child(6)
{
    animation-delay: 0.6s;
}

.lettre:nth-child(7)
{
    animation-delay: 0.7s;
}

.lettre:nth-child(8)
{
    animation-delay: 0.8s;
}

.lettre:nth-child(9)
{
    animation-delay: 0.9s;
}

.lettre:nth-child(10)
{
    animation-delay: 1s;
}

.fond-out
{
    opacity: 0;
    transition : opacity 0.4 ease-out;
}